<div class="general">
    <div class="section1">
        <p>Home | Terms and Conditions | Privacy Policy | Collection Statement | Help | Manage Account</p>
    </div>
    <div class="section2">
        Copyright &copy; 2016 DEMO Streaming All Rights Reserved.
    </div>
    <div class="container">
        <div class="fatwig">
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="asgpmt">
            <a href="#"><i class="fa-brands fa-app-store"></i></a>
            <a href="#"><i class="fa-brands fa-google-play"></i></a>
            <a href="#"><i class="fa-brands fa-microsoft"></i></a>
            <a href="#"><i class="fa-brands fa-google"></i></a>
        </div>
    </div>
</div>