nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: dodgerblue;
    padding: 30px;
    height: 40px;
    margin: 0;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: 'Martian Mono', monospace;
    font-family: 'Nunito', sans-serif;
}

.links a{
    font-family: 'Martian Mono', monospace;
    font-family: 'Nunito', sans-serif;
}

.films{
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 5px;
}

.series{
    background-color: black;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 5px;

    border-radius: 10px;
}