<app-navbar></app-navbar>

<div class="titulo">
    <h1>Popular Movies</h1>
</div>
<div class="card-container">
    <div ngClass="result-box" *ngFor="let movie of jsonData; let i = index" class="card" (mouseover)="onMouseOver(i)"
        (mouseout)="onMouseOut(i)">
        <img [src]="movie.images['Poster Art'].url" alt="{{ movie.title }}" />
        <div class="card-content">
            <h2 class="title" (click)="openPopup(movie)">{{ movie.title }}</h2>
            <p>Año de lanzamiento: {{ movie.releaseYear }}</p>
        </div>
    </div>
</div>

<div *ngIf="selectedFilms" class="popup">
    <h2>{{ selectedFilms.title }}</h2>
    <p>{{ selectedFilms.description }}</p>
    <p>Año de lanzamiento: {{ selectedFilms.releaseYear }}</p>
    <img [src]="selectedFilms.images['Poster Art'].url" alt="{{ selectedFilms.title }}" />
    <button class="button" (click)="closePopup()">Cerrar</button>
</div>

<app-footer></app-footer>